.ant-modal-content .ant-modal-header .ant-modal-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.ant-table-thead th,
.ant-table-thead th span {
    font-weight: bold !important;
    font-size: 1.125rem;
}

.ant-table-thead th span.ant-table-column-sorter {
    display: flex;
}

.ant-back-top-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.ant-back-top-icon span {
    font-size: 24px;
}

.ant-back-top-icon span svg {
    font-size: inherit;
}

.ant-pagination-item-link {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.ant-menu-item > span {
    font-size: 16px !important;
}

.ant-message .anticon,
.ant-message .anticon > svg {
    vertical-align: top !important;
    font-size: 16px !important;
}

.ant-btn .anticon,
.ant-btn .anticon > svg {
    vertical-align: middle !important;
    font-size: 16px !important;
}

.ant-popover-inner-content {
    padding: 0 1rem !important;
}

.anticon.anticon-up.ant-input-number-handler-up-inner svg,
.anticon.anticon-down.ant-input-number-handler-down-inner svg {
    font-size: 7px !important;
}

.ant-input-number {
    width: 100%;
}

.ant-tabs-tab-btn {
    font-weight: bold;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    text-shadow: none !important;
}

.ant-input-number-group-wrapper {
    width: 100%;
}

.ant-tag {
    display: inline-flex !important;
    align-items: center !important;
}

.ant-spin {
    padding: 8px !important;
}

.ant-timeline-item-tail {
    border-left: 2px solid #999999 !important;
}
