/* News Page */

/* .news-page {
    padding: 80px 15rem;
} */

.news-page button.ant-pagination-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* News Preview */

.news-preview:nth-child(odd) {
    background-color: #f0f0f0;
}

.news-preview:nth-child(even) {
    background-color: white;
}

.news-preview .news-body .news-date {
    color: #626c84;
}

.news-preview .news-body .news-title {
    color: #1c1c24;
}

.news-preview .news-body .news-title a {
    color: #323232;
    transition: all 0.4s ease;
    overflow-wrap: break-word;
}

.news-preview .news-body .news-title a:hover {
    color: #2154cf;
}

/* News Detail */

.news-detail {
    width: 100%;
    padding: 80px 1rem;
    margin-left: auto;
    margin-right: auto;
}

.news-detail figure.image {
    margin: 0.9em auto;
    min-width: 50px;
    text-align: center;
    clear: both;
}

.news-detail figure.image figcaption {
    font-size: 0.75em;
    padding: 0.6em;
}

.news-detail figure.image.image-style-side {
    position: relative;
    float: right;
    clear: both;
}

.news-detail hr {
    margin: 15px 0;
    height: 4px;
    background: #929292;
    border: 0;
}

@media (min-width: 576px) {
    .news-detail {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .news-detail {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .news-detail {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .news-detail {
        max-width: 1140px;
    }
}

/* News Editor */

.news-editor {
    max-width: inherit;
    min-width: inherit;
    max-height: inherit;
    min-height: inherit;
}

.news-editor .ck.ck-content {
    width: 100%;
    min-height: 400px;
    max-height: 600px;
    padding: 1rem 2rem;
}
